.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 5px;
  border-radius: 10px;
  cursor: alias
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;

}

.scrolling::-webkit-scrollbar {
  display: block;
  width: 5px;
  border-radius: 10px;
  cursor: alias;
}

.scrolling::-webkit-scrollbar-track {
  margin: 20px 0;
  /* background: #; */
}

.scrolling::-webkit-scrollbar-thumb {
  border-radius: 10px;
}


