.OtpDiv {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.otp-field {
  outline: none;
  margin: 25px 0px 40px 0px;
  height: 42px;
  width: 38px;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
  background: linear-gradient(360deg, #e5e9f1 -89.76%, #ffffff 100%);
}