.child_list::before {
  content: '';
  width: 1px;
  background-color: rgba(62, 62, 62, 0.742);
  height: 100%;
  position: absolute;
  transform: translateX(-5px);

}

.FadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}