*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body{
  overflow-x: hidden;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/Fonts/Helvetica/Helvetica.ttf');
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./assets/Fonts/Helvetica/Helvetica-Bold.ttf');
}

@font-face {
  font-family: 'Helvetica-Light';
  src: url('./assets/Fonts/Helvetica/helvetica-light-587ebe5a59211.ttf');
}

@font-face {
  font-family: 'Work-Sans';
  src: url('./assets/Fonts/Work-sans/WorkSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Work Sans-Italic';
  src: url('./assets/Fonts/Work-sans/WorkSans-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Playwrite';
  src: url('./assets/Fonts/Playwrite/PlaywriteGBS-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Playwrite-Italic';
  src: url('./assets/Fonts/Playwrite/PlaywriteGBS-Italic-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Big-Shoulders';
  src: url("./assets/Fonts/BigShoulders/BigShouldersDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src: url("./assets/Fonts/OpenSans/OpenSans.ttf");
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.scroller::-webkit-scrollbar {
  width: 10px;
}

.scroller::-webkit-scrollbar-thumb {
  background: #2d53ff;
}

.scroller::-webkit-scrollbar-track {
  background: black;
}

.animate-spin {
  animation: spin 1s linear infinite;
}   

.scrollBar::-webkit-scrollbar {
  width: 10px;
}
.scrollBar::-webkit-scrollbar-thumb {
  background: #2d53ff;
}
.scrollBar::-webkit-scrollbar-track {
  background: #4b4b4b;
}

.shadowMain{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.test{
  color: #fffffff3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ! Copyright (c) 2024 Aquaria Core Pvt. Ltd. */